@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
@page "/"
@page "/Categories"
@inherits NorthwindBlazor.App.Pages.CategoriesModel
<RadzenContent ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading ref="pageTitle" Size="H1" Text="Categories">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid ref="grid0" AllowPaging="true" AllowSorting="true" Count="@getCategoriesCount" Data="@getCategoriesResult" TItem="Category" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Category" Context="data" Property="CategoryID" Title="Category ID" Type="integer">
              <Template>
              @data.CategoryID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Category" Context="data" Property="CategoryName" Title="Category Name" Type="string">
              <Template>
              @data.CategoryName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Category" Context="data" Property="Description" Title="Description" Type="string">
              <Template>
              @data.Description
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Category" Context="data" Format="binary" Property="Picture" Title="Picture" Type="string">
              <Template>
              @data.Picture
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Category" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template>
                <RadzenButton ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
