@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
@page "/CustomerDemographics"
@inherits NorthwindBlazor.App.Pages.CustomerDemographicsModel
<RadzenContent ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading ref="pageTitle" Size="H1" Text="Customer Demographics">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid ref="grid0" AllowPaging="true" AllowSorting="true" Count="@getCustomerDemographicsCount" Data="@getCustomerDemographicsResult" TItem="CustomerDemographic" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CustomerDemographic" Context="data" Property="CustomerTypeID" Title="Customer Type ID" Type="string">
              <Template>
              @data.CustomerTypeID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CustomerDemographic" Context="data" Property="CustomerDesc" Title="Customer Desc" Type="string">
              <Template>
              @data.CustomerDesc
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CustomerDemographic" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template>
                <RadzenButton ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
