@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
@page "/OrderDetails"
@inherits NorthwindBlazor.App.Pages.OrderDetailsModel
<RadzenContent ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading ref="pageTitle" Size="H1" Text="Order Details">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid ref="grid0" AllowPaging="true" AllowSorting="true" Count="@getOrderDetailsCount" Data="@getOrderDetailsResult" TItem="OrderDetail" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Property="OrderID" SortProperty="Order.CustomerID" Title="Order" Type="string">
              <Template>
              @data.Order?.CustomerID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Property="ProductID" SortProperty="Product.ProductName" Title="Product" Type="string">
              <Template>
              @data.Product?.ProductName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Format="decimal" Property="UnitPrice" Title="Unit Price" Type="number">
              <Template>
              @data.UnitPrice
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Format="int16" Property="Quantity" Title="Quantity" Type="integer">
              <Template>
              @data.Quantity
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Format="float" Property="Discount" Title="Discount" Type="number">
              <Template>
              @data.Discount
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="OrderDetail" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template>
                <RadzenButton ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
