@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
@page "/Products"
@inherits NorthwindBlazor.App.Pages.ProductsModel
<RadzenContent ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading ref="pageTitle" Size="H1" Text="Products">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid ref="grid0" AllowPaging="true" AllowSorting="true" Count="@getProductsCount" Data="@getProductsResult" TItem="Product" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Product" Context="data" Property="ProductID" Title="Product ID" Type="integer">
              <Template>
              @data.ProductID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Property="ProductName" Title="Product Name" Type="string">
              <Template>
              @data.ProductName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Property="SupplierID" SortProperty="Supplier.CompanyName" Title="Supplier" Type="string">
              <Template>
              @data.Supplier?.CompanyName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Property="CategoryID" SortProperty="Category.CategoryName" Title="Category" Type="string">
              <Template>
              @data.Category?.CategoryName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Property="QuantityPerUnit" Title="Quantity Per Unit" Type="string">
              <Template>
              @data.QuantityPerUnit
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Format="decimal" Property="UnitPrice" Title="Unit Price" Type="number">
              <Template>
              @data.UnitPrice
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Format="int16" Property="UnitsInStock" Title="Units In Stock" Type="integer">
              <Template>
              @data.UnitsInStock
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Format="int16" Property="UnitsOnOrder" Title="Units On Order" Type="integer">
              <Template>
              @data.UnitsOnOrder
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Format="int16" Property="ReorderLevel" Title="Reorder Level" Type="integer">
              <Template>
              @data.ReorderLevel
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Property="Discontinued" Title="Discontinued" Type="boolean">
              <Template>
              @data.Discontinued
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Product" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template>
                <RadzenButton ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
