@page "/add-customer-customer-demo"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AddCustomerCustomerDemoComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@customercustomerdemo" Visible="@(customercustomerdemo != null)" TItem="NorthwindBlazor.Models.Northwind.CustomerCustomerDemo" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Customer" Component="CustomerID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getCustomersResult" TextProperty="CompanyName" ValueProperty="CustomerID" Placeholder="Choose Customer" style="display: block; width: 100%" @bind-Value="@(customercustomerdemo.CustomerID)" Name="CustomerID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="CustomerID" Text="CustomerID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Customer Demographic" Component="CustomerTypeID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getCustomerDemographicsResult" TextProperty="CustomerDesc" ValueProperty="CustomerTypeID" Placeholder="Choose CustomerDemographic" style="display: block; width: 100%" @bind-Value="@(customercustomerdemo.CustomerTypeID)" Name="CustomerTypeID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="CustomerTypeID" Text="CustomerTypeID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
