@page "/add-order-detail"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AddOrderDetailComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@orderdetail" Visible="@(orderdetail != null)" TItem="NorthwindBlazor.Models.Northwind.OrderDetail" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Order" Component="OrderID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getOrdersResult" TextProperty="CustomerID" ValueProperty="OrderID" Placeholder="Choose Order" style="display: block; width: 100%" @bind-Value="@(orderdetail.OrderID)" Name="OrderID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="OrderID" Text="OrderID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product" Component="ProductID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getProductsResult" TextProperty="ProductName" ValueProperty="ProductID" Placeholder="Choose Product" style="display: block; width: 100%" @bind-Value="@(orderdetail.ProductID)" Name="ProductID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="ProductID" Text="ProductID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Unit Price" Component="UnitPrice" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(orderdetail.UnitPrice)" Name="UnitPrice">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quantity" Component="Quantity" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(orderdetail.Quantity)" Name="Quantity">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Discount" Component="Discount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(orderdetail.Discount)" Name="Discount">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
