@page "/add-region"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AddRegionComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@region" Visible="@(region != null)" TItem="NorthwindBlazor.Models.Northwind.Region" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Region Id" Component="RegionID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(region.RegionID)" Name="RegionID">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="RegionID" Text="RegionID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Region Description" Component="RegionDescription" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(region.RegionDescription)" Name="RegionDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="RegionDescription" Text="RegionDescription is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
