@page "/edit-customer-demographic/{CustomerTypeID}"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EditCustomerDemographicComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="NorthwindBlazor.Models.Northwind.CustomerDemographic" Data="@customerdemographic" Visible="@(customerdemographic != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Customer Type Id" Component="CustomerTypeID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(customerdemographic.CustomerTypeID)" Name="CustomerTypeID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CustomerTypeID" Text="CustomerTypeID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Customer Desc" Component="CustomerDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(customerdemographic.CustomerDesc)" Name="CustomerDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
