@page "/edit-territory/{TerritoryID}"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EditTerritoryComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div style="null" class="row">
      <div class="col-md-9">
        <RadzenLabel @ref="closeLabel" style="font-weight: bold;" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton @ref="closeButton" ButtonStyle="secondary" style="margin-bottom: 20px;" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(territory)" Visible="@(territory != null && canEdit)" TItem="Territory" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Territory ID" Component="TerritoryID" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="territoryId" MaxLength="20" style="display: block; width: 100%;" Name="TerritoryID">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="territoryIdRequiredValidator" Component="TerritoryID" Text="TerritoryID is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="Territory Description" Component="TerritoryDescription" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="territoryDescription" MaxLength="50" style="display: block; width: 100%;" Name="TerritoryDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="territoryDescriptionRequiredValidator" Component="TerritoryDescription" Text="TerritoryDescription is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="Region" Component="RegionID" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="regionId" Data="@(getRegionsResult)" TextProperty="RegionDescription" ValueProperty="RegionID" Placeholder="Choose Region" style="display: block; width: 100%;" Name="RegionID">
                </RadzenDropDown>
                <RadzenRequiredValidator @ref="regionIdRequiredValidator" Component="RegionID" Text="RegionID is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button2" ButtonType="submit" Icon="save" Text="Save" ButtonStyle="primary">
                </RadzenButton>
                <RadzenButton @ref="button3" ButtonStyle="light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
