@page "/edit-territory/{TerritoryID}"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EditTerritoryComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="NorthwindBlazor.Models.Northwind.Territory" Data="@territory" Visible="@(territory != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Territory Id" Component="TerritoryID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="display: block; width: 100%" @bind-Value="@(territory.TerritoryID)" Name="TerritoryID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TerritoryID" Text="TerritoryID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Territory Description" Component="TerritoryDescription" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(territory.TerritoryDescription)" Name="TerritoryDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TerritoryDescription" Text="TerritoryDescription is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Region" Component="RegionID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getRegionsResult" TextProperty="RegionDescription" ValueProperty="RegionID" Placeholder="Choose Region" style="display: block; width: 100%" @bind-Value="@(territory.RegionID)" Name="RegionID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="RegionID" Text="RegionID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
