@page "/edit-employee-territory/{EmployeeID}/{TerritoryID}"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EditEmployeeTerritoryComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="NorthwindBlazor.Models.Northwind.EmployeeTerritory" Data="@employeeterritory" Visible="@(employeeterritory != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Employee" Component="EmployeeID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getEmployeesResult" TextProperty="LastName" ValueProperty="EmployeeID" Placeholder="Choose Employee" style="display: block; width: 100%" @bind-Value="@(employeeterritory.EmployeeID)" Name="EmployeeID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="EmployeeID" Text="EmployeeID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Territory" Component="TerritoryID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTerritoriesResult" TextProperty="TerritoryDescription" ValueProperty="TerritoryID" Placeholder="Choose Territory" style="display: block; width: 100%" @bind-Value="@(employeeterritory.TerritoryID)" Name="TerritoryID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="TerritoryID" Text="TerritoryID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
