@page "/employees"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EmployeesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Employees">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getEmployeesResult" TItem="NorthwindBlazor.Models.Northwind.Employee" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="EmployeeID" Title="Employee ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="LastName" Title="Last Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="FirstName" Title="First Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Title" Title="Title">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="TitleOfCourtesy" Title="Title Of Courtesy">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="BirthDate" FormatString="{0:MM/dd/yyyy}" Title="Birth Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="HireDate" FormatString="{0:MM/dd/yyyy}" Title="Hire Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Address" Title="Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Region" Title="Region">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="PostalCode" Title="Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Country" Title="Country">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="HomePhone" Title="Home Phone">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Extension" Title="Extension">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Photo" Title="Photo">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="Notes" Title="Notes">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="ReportsTo" SortProperty="Employee1.LastName" FilterProperty="Employee1.LastName" Title="Employee">
              <Template Context="data">
              @(data.Employee1?.LastName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Property="PhotoPath" Title="Photo Path">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Employee" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="northwindBlazorModelsNorthwindEmployee">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, northwindBlazorModelsNorthwindEmployee))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
