@page "/employee-territories"
@layout MainLayout
@inherits NorthwindBlazor.Pages.EmployeeTerritoriesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Employee Territories">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getEmployeeTerritoriesResult)" TItem="EmployeeTerritory" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="EmployeeTerritory" Context="data" Property="EmployeeID" SortProperty="Employee.LastName" Title="Employee" Type="string">
              <Template Context="data">
              @data.Employee?.LastName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="EmployeeTerritory" Context="data" Property="TerritoryID" SortProperty="Territory.TerritoryDescription" Title="Territory" Type="string">
              <Template Context="data">
              @data.Territory?.TerritoryDescription
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="EmployeeTerritory" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="data">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
