@page "/orders"
@layout MainLayout
@inherits NorthwindBlazor.Pages.OrdersComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Orders">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getOrdersResult" TItem="NorthwindBlazor.Models.Northwind.Order" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="CustomerID" SortProperty="Customer.CompanyName" FilterProperty="Customer.CompanyName" Title="Customer">
              <Template Context="data">
              @(data.Customer?.CompanyName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="EmployeeID" SortProperty="Employee.LastName" FilterProperty="Employee.LastName" Title="Employee">
              <Template Context="data">
              @(data.Employee?.LastName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="OrderDate" FormatString="{0:MM/dd/yyyy}" Title="Order Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="RequiredDate" FormatString="{0:MM/dd/yyyy}" Title="Required Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShippedDate" FormatString="{0:MM/dd/yyyy}" Title="Shipped Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipVia" SortProperty="Shipper.CompanyName" FilterProperty="Shipper.CompanyName" Title="Shipper">
              <Template Context="data">
              @(data.Shipper?.CompanyName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="Freight" Title="Freight">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipName" Title="Ship Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipAddress" Title="Ship Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipCity" Title="Ship City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipRegion" Title="Ship Region">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipPostalCode" Title="Ship Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Property="ShipCountry" Title="Ship Country">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Order" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="northwindBlazorModelsNorthwindOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, northwindBlazorModelsNorthwindOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
