@page "/add-opportunity"
@layout MainLayout
@inherits RadzenCrm.Pages.AddOpportunityComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<AddOpportunity> L
<RadzenContent @ref="content0" Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(opportunity)" TItem="RadzenCrm.Models.Crm.Opportunity" Visible="@(opportunity != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Amount" style="width: 100%" Text="@L["undefined.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="amount" style="display: block; width: 100%" Name="Amount" TItem="decimal?">
                </RadzenNumeric>
                <RadzenRequiredValidator @ref="amountRequiredValidator" Component="Amount" style="position: absolute" Text="@L["AmountRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ContactId" style="width: 100%" Text="@L["undefined.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="contactId" Data="@(getContactsResult)" Placeholder="@L["ContactId.Placeholder"]" style="display: block; width: 100%" TextProperty="Email" ValueProperty="Id" Name="ContactId">
                </RadzenDropDown>
                <RadzenRequiredValidator @ref="contactIdRequiredValidator" Component="ContactId" style="position: absolute" Text="@L["ContactIdRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="StatusId" style="width: 100%" Text="@L["undefined.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="statusId" Data="@(getOpportunityStatusesResult)" Placeholder="@L["StatusId.Placeholder"]" style="display: block; width: 100%" TextProperty="Name" ValueProperty="Id" Name="StatusId">
                </RadzenDropDown>
                <RadzenRequiredValidator @ref="statusIdRequiredValidator" Component="StatusId" style="position: absolute" Text="@L["StatusIdRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CloseDate" style="width: 100%" Text="@L["undefined.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="closeDate" DateFormat="MM/dd/yyyy" style="display: block; width: 100%" Value="@($"{DateTime.Now}")" Name="CloseDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator @ref="closeDateRequiredValidator" Component="CloseDate" style="position: absolute" Text="@L["CloseDateRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Name" style="width: 100%" Text="@L["undefined.Text"]">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="name" MaxLength="256" style="display: block; width: 100%" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="nameRequiredValidator" Component="Name" style="position: absolute" Text="@L["NameRequiredValidator.Text"]">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="@L["undefined.Text"]">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="@L["undefined.Text"]" Click="@UndefinedClick">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
