@page "/add-task"
@layout MainLayout
@inherits RadzenCrm.Pages.AddTaskComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<AddTask> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@task" TItem="RadzenCrm.Models.Crm.Task" Visible="@(task != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Title" style="width: 100%" Text="Title">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox AutoComplete="false" MaxLength="256" style="width: 100%" @bind-Value="@(task.Title)" Name="Title">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="OpportunityId" style="width: 100%" Text="Opportunity">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getOpportunitiesResult" Placeholder="Choose Opportunity" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(task.OpportunityId)" ValueProperty="Id" Name="OpportunityId">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="OpportunityId" style="position: absolute" Text="OpportunityId is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="DueDate" style="width: 100%" Text="Due Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(task.DueDate)" Name="DueDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="DueDate" style="position: absolute" Text="DueDate is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TypeId" style="width: 100%" Text="Task Type">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTaskTypesResult" Placeholder="Choose TaskType" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(task.TypeId)" ValueProperty="Id" Name="TypeId">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="TypeId" style="position: absolute" Text="TypeId is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="StatusId" style="width: 100%" Text="Task Status">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getTaskStatusesResult" Placeholder="Choose TaskStatus" style="width: 100%" TextProperty="Name" @bind-Value="@(task.StatusId)" ValueProperty="Id" Name="StatusId">
                </RadzenDropDown>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
