@page "/application-users"
@layout MainLayout
@inherits RadzenCrm.Pages.ApplicationUsersComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<ApplicationUsers> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Users">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@users" TItem="ApplicationUser" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="ApplicationUser" Property="UserName" Title="User Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ApplicationUser" Property="Email" Title="Email">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ApplicationUser" Property="FirstName" Title="First Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ApplicationUser" Property="LastName" Title="Last Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ApplicationUser" Title="Picture">
              <Template Context="applicationUser">
                <RadzenImage Path="@(applicationUser.Picture)" style="height: 30px; width: 30px">
                </RadzenImage>
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ApplicationUser" Bubble="false" Filterable="false" Sortable="false" Width="70px">
              <Template Context="applicationUser">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, applicationUser))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
