@page "/"
@page "/contacts"
@layout MainLayout
@inherits RadzenCrm.Pages.ContactsComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<Contacts> L
<RadzenContent @ref="content0" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <RadzenTextBox @ref="textbox0" @bind-Value="@(contactFilter)" Name="Textbox0">
    </RadzenTextBox>
    <RadzenButton @ref="button1" Text="@L["button1.Text"]" Click="@Button1Click">
    </RadzenButton>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["button0.Text"]" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getContactsResult)" TItem="RadzenCrm.Models.Crm.Contact" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Property="Email" Title="@L["grid0.Email.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Property="Company" Title="@L["grid0.Company.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Property="LastName" Title="@L["grid0.LastName.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Property="FirstName" Title="@L["grid0.FirstName.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Property="Phone" Title="@L["grid0.Phone.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Contact" Context="radzenCrmModelsCrmContact" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="radzenCrmModelsCrmContact">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenCrmModelsCrmContact))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
