@page "/opportunities"
@layout MainLayout
@inherits RadzenCrm.Pages.OpportunitiesComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<Opportunities> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Opportunities">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getOpportunitiesResult)" TItem="RadzenCrm.Models.Crm.Opportunity" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Property="Id" Title="Id" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Format="decimal" Property="Amount" Title="Amount" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Property="UserId" Title="User Id" Type="string">
              <Template Context="radzenCrmModelsCrmOpportunity">
                <RadzenLabel Text="@($"{(radzenCrmModelsCrmOpportunity.User.FirstName)}")">
                </RadzenLabel>
                <RadzenLabel Text="@($"{(radzenCrmModelsCrmOpportunity.User.LastName)}")">
                </RadzenLabel>
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" FilterProperty="Contact.Email" Property="ContactId" SortProperty="Contact.Email" Title="Contact" Type="string">
              <Template Context="data">
              @data.Contact?.Email
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" FilterProperty="OpportunityStatus.Name" Property="StatusId" SortProperty="OpportunityStatus.Name" Title="Opportunity Status" Type="string">
              <Template Context="data">
              @data.OpportunityStatus?.Name
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Format="date-time" FormatString="{0:MM/dd/yyyy}" Property="CloseDate" Title="Close Date" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Property="Name" Title="Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.Opportunity" Context="radzenCrmModelsCrmOpportunity" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="radzenCrmModelsCrmOpportunity">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenCrmModelsCrmOpportunity))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
