@page "/task-types"
@layout MainLayout
@inherits RadzenCrm.Pages.TaskTypesComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<TaskTypes> L
<RadzenContent @ref="content0" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["button0.Text"]" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTaskTypesResult)" TItem="RadzenCrm.Models.Crm.TaskType" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.TaskType" Context="radzenCrmModelsCrmTaskType" Property="Id" Title="@L["grid0.Id.Title"]" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.TaskType" Context="radzenCrmModelsCrmTaskType" Property="Name" Title="@L["grid0.Name.Title"]" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenCrm.Models.Crm.TaskType" Context="radzenCrmModelsCrmTaskType" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="radzenCrmModelsCrmTaskType">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenCrmModelsCrmTaskType))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
