@page "/"
@page "/home"
@layout MainLayout
@inherits BlazorCrmWasm.Pages.HomeComponent

@using Radzen
@using Radzen.Blazor
@using BlazorCrmWasm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using BlazorCrmWasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Home">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12 col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="attach_money" style="color: #68d5c8; font-size: 48px; height: 64px; width: 100%">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="LAST MONTH">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #68d5c8; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Revenue.ToString("C"))">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-md-12 col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="shopping_cart" style="color: #f9777f; font-size: 48px; height: 64px; width: 100%">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="Opportunities">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #f9777f; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Opportunities.ToString())">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-md-12 col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="account_balance_wallet" style="color: #ff6d41; font-size: 48px; height: 64px; width: 100%">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="Average Deal Size">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #ff6d41; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.AverageDealSize.ToString())">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-md-12 col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="thumb_up" style="color: #479cc8; font-size: 48px; height: 64px; width: 100%">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="Win Rate">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #479cc8; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Ratio.ToString("P"))">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xl-6">
        <RadzenCard>
          <ChildContent>
            <RadzenHeading Size="H3" Text="Recent Opportunities">
            </RadzenHeading>
            <RadzenGrid @ref="grid0" AllowFiltering="false" AllowPaging="false" AllowSorting="true" Data="@getOpportunitiesResult" TItem="dynamic" PageSize="10">
              <Columns>
                <RadzenGridColumn TItem="dynamic" Title="Contact">
                  <Template Context="data">
                  @(data.Contact.FirstName) @(data.Contact.LastName)
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="dynamic" Title="Amount">
                  <Template Context="data">
                  @(data.Amount.ToString("C"))
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="dynamic" Property="OpportunityStatus.Name" Title="Status">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="dynamic" Format="date-time" FormatString="{0:d}" Property="CloseDate" Title="Close Date" Type="string">
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-md-12 col-xl-6">
        <RadzenCard>
          <ChildContent>
            <RadzenHeading Size="H3" Text="Active Tasks">
            </RadzenHeading>
            <RadzenGrid @ref="grid1" AllowFiltering="false" AllowPaging="false" AllowSorting="true" Data="@getTasksResult" TItem="dynamic" PageSize="10">
              <Columns>
                <RadzenGridColumn TItem="dynamic" SortProperty="Opportunity.User.FirstName" Title="Employee">
                  <Template Context="data">
                    <RadzenImage Path="@(data.Opportunity?.User?.Picture)" style="border-radius: 15px; height: 30px; width: 30px">
                    </RadzenImage>
                    <RadzenLabel Text="@($"{(data.Opportunity?.User?.LastName)}")">
                    </RadzenLabel>
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="dynamic" SortProperty="Opportunity.Name" Title="Title">
                  <Template Context="data">
                    <RadzenLabel style="display: block" Text="@($"{(data.Opportunity?.Name)}")">
                    </RadzenLabel>
                    <RadzenLabel  Text="@($"{(data.Opportunity?.Contact?.LastName)}")">
                    </RadzenLabel>
                    <RadzenLabel  Text="@($"{(data.Opportunity?.Contact?.FirstName)}")">
                    </RadzenLabel>
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="dynamic" Property="DueDate">
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
