@page "/opportunities"
@layout MainLayout
@inherits BlazorCrmWasm.Pages.OpportunitiesComponent

@using Radzen
@using Radzen.Blazor
@using BlazorCrmWasm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using BlazorCrmWasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Opportunities">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getOpportunitiesCount" Data="@getOpportunitiesResult" TItem="BlazorCrmWasm.Models.Crm.Opportunity" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" FilterProperty="User.FirstName" Property="Id" SortProperty="User.FirstName" Title="Id">
              <Template Context="blazorCrmWasmModelsCrmOpportunity">
                <RadzenLabel Text="@($"{(blazorCrmWasmModelsCrmOpportunity.User.FirstName)}")">
                </RadzenLabel>
                <RadzenLabel Text="@($"{(blazorCrmWasmModelsCrmOpportunity.User.LastName)}")">
                </RadzenLabel>
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" Property="Amount" Title="Amount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" Property="UserId" Title="User Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" FilterProperty="Contact.Email" Property="ContactId" SortProperty="Contact.Email" Title="Contact">
              <Template Context="data">
              @(data.Contact?.Email)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" FilterProperty="OpportunityStatus.Name" Property="StatusId" SortProperty="OpportunityStatus.Name" Title="Opportunity Status">
              <Template Context="data">
              @(data.OpportunityStatus?.Name)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" FormatString="{0:MM/dd/yyyy}" Property="CloseDate" Title="Close Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" Property="Name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.Opportunity" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="blazorCrmWasmModelsCrmOpportunity">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, blazorCrmWasmModelsCrmOpportunity))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
