@page "/task-statuses"
@layout MainLayout
@inherits BlazorCrmWasm.Pages.TaskStatusesComponent

@using Radzen
@using Radzen.Blazor
@using BlazorCrmWasm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using BlazorCrmWasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Task Statuses">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTaskStatusesResult" Count="@getTaskStatusesCount" TItem="BlazorCrmWasm.Models.Crm.TaskStatus" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.TaskStatus" Property="Id" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.TaskStatus" Property="Name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="BlazorCrmWasm.Models.Crm.TaskStatus" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="blazorCrmWasmModelsCrmTaskStatus">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, blazorCrmWasmModelsCrmTaskStatus))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
