@inherits RadzenCrm.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> L
<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="RadzenCRM">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
        <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
          <ChildContent>
            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="@L["profilemenu0.profile.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="@L["profilemenu0.users.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="@L["profilemenu0.roles.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="@L["profilemenu0.logout.Text"]" Icon="power_settings_new">
            </RadzenProfileMenuItem>
          </ChildContent>
          <Template>
            <RadzenLabel Text="@($"{Security.User.FirstName}")">
            </RadzenLabel>
            <RadzenLabel Text="@($"{Security.User.LastName}")">
            </RadzenLabel>
            <RadzenImage Path=@(Security.User.Picture) style="border-radius: 16px; height: 32px; width: 32px">
            </RadzenImage>
          </Template>
        </RadzenProfileMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Icon="home" Path="home" Text="@L["panelmenu0.home.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="perm_contact_calendar" Path="contacts" Text="@L["panelmenu0.contacts.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="work" Path="tasks" Text="@L["panelmenu0.tasks.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="shopping_cart" Path="opportunities" Text="@L["panelmenu0.opportunities.Text"]" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="settings" Text="@L["panelmenu0.settings.Text"]" Visible="@(Security.IsInRole("Sales Manager"))">
          <ChildContent>
            <RadzenPanelMenuItem Path="opportunity-statuses" Text="@L["opportunity-statuses.Text"]">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="task-types" Text="@L["task-types.Text"]">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="task-statuses" Text="@L["task-statuses.Text"]">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="RadzenCRM, Copyright &copy; 2019">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
