@inherits RadzenCrm.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity;
@using RadzenCrm.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> L
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="RadzenCRM">
        </RadzenLabel>
      </div>
      <div class="col-6 text-right">
        <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
          <ChildContent>
            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Sales Manager"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Sales Manager"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
            </RadzenProfileMenuItem>
          </ChildContent>
          <Template>
            <RadzenLabel Text="@($"{(Security.User.FirstName)}")">
            </RadzenLabel>
            <RadzenLabel Text="@($"{(Security.User.LastName)}")">
            </RadzenLabel>
            <RadzenImage Path="@(Security.User.Picture)" style="border-radius: 16px; height: 32px; width: 32px">
            </RadzenImage>
          </Template>
        </RadzenProfileMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Icon="home" Path="home" Text="Dashboard" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="perm_contact_calendar" Path="contacts" Text="Contacts" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="work" Path="tasks" Text="Tasks" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="shopping_cart" Path="opportunities" Text="Opportunities" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="settings" Text="Settings" Visible="@(Security.IsInRole("Sales Manager"))">
          <ChildContent>
            <RadzenPanelMenuItem Path="opportunity-statuses" Text="Opportunity Statuses">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="task-types" Text="Task Types">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="task-statuses" Text="Task Statuses">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="RadzenCRM, Copyright Ⓒ 2021">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
