@page "/add-product"
@layout MainLayout
@inherits BlazorMultiTenant.Pages.AddProductComponent

@using Radzen
@using Radzen.Blazor
@using BlazorMultiTenant.Models.Sample
@using Microsoft.AspNetCore.Identity
@using BlazorMultiTenant.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@(product)" Visible="@(product != null)" TItem="BlazorMultiTenant.Models.Sample.Product" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Name" Component="ProductName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@((product.ProductName))" Name="ProductName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ProductName" Text="ProductName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Price" Component="ProductPrice" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@((product.ProductPrice))" Name="ProductPrice">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="ProductPrice" Text="ProductPrice is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Picture" Component="ProductPicture" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenFileInput style="display: block" @bind-Value="@((product.ProductPicture))" Name="ProductPicture">
                </RadzenFileInput>
                <RadzenRequiredValidator Component="ProductPicture" Text="ProductPicture is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
