@page "/edit-order-detail/{Id}"
@layout MainLayout
@inherits BlazorMultiTenant.Pages.EditOrderDetailComponent

@using Radzen
@using Radzen.Blazor
@using BlazorMultiTenant.Models.Sample
@using Microsoft.AspNetCore.Identity
@using BlazorMultiTenant.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="BlazorMultiTenant.Models.Sample.OrderDetail" Data="@(orderdetail)" Visible="@(orderdetail != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quantity" Component="Quantity" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@((orderdetail.Quantity))" Name="Quantity">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Quantity" Text="Quantity is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Order" Component="OrderId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getOrdersResult)" TextProperty="UserName" ValueProperty="Id" Placeholder="Choose Order" style="width: 100%" @bind-Value="@((orderdetail.OrderId))" Name="OrderId">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product" Component="ProductId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getProductsResult)" TextProperty="ProductName" ValueProperty="Id" Placeholder="Choose Product" style="width: 100%" @bind-Value="@((orderdetail.ProductId))" Name="ProductId">
                </RadzenDropDown>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
